@charset "UTF-8";

/* header */
header {
    padding: 3% 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
}

header h1 {
    font-weight: normal;
    font-size: 1rem;
}

.anker {
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: 5px;
    opacity: .8;
    font-family: 'Cinzel', serif;
    font-weight:bold;
}

.anker::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    bottom: -1px;
    background: #000000;
    transform-origin: center top;
    transition: 0.2s;
    transform: scale(0, 1);
}

.anker:hover {
    color: #000000;
    opacity: 1;
}

.anker:hover::after {
    transform: scale(1, 1);
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    margin-left: 30px;
}

/* 全体 */
main {
    width: 100%;
}

section {
    width: 100%;
    padding:40px 0;
}

section:nth-of-type(odd) {
    background-color: #eeeeee;
}

/* top */
.site-top {
    font-family: 'Noto Serif JP', serif;
    margin: 0 auto;
    writing-mode: vertical-rl;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5rem;
}

.job {
    margin: 10px;
    width:100px;
    text-align: center;
    font-size: 1rem;
    animation-name: job;
    animation-delay: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    opacity: 0;
    font-family: 'Cinzel', serif;
}

@keyframes job {
    0% {
        opacity: 1;
        transform: rotateY(0);
    }

    100% {
        opacity: 1;
        transform: rotateY(360deg);
    }

}
/* works */
#work{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
ol{
    border:1px solid black;
    list-style:none;
    text-align:left;
    padding:10px;
}
.works_img{
    border:1px solid black;
    width:70%;
    
}
/* contact */


#contact * {
    font-family: 'Noto Serif JP', serif;
}

#contact>p {
    text-align: center;
    padding-top: 20px;
}

form {
    width: 80%;
    margin: 0 auto;
}

.form-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-flex-left {
    margin-right: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inp-text {
    width: 100%;
    height: 50%;
}

.inp-email {
    width: 100%;
    display: inline-block;
}

.form-flex-right {
    height: 100%;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px 5px;
}

textarea {
    display: block;
}

input[type="text"],
input[type="email"] {
    max-width: 100%;
    min-width: 50%;
}

.button {
    display: block;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px 10px;
    width: 60px;
    text-align: center;
    font-size: 0.9rem;
}

.button:hover {
    background-color: rgba(105, 99, 99, .1);
}
.emp{
    color:red;
    font-size:12px;
    display:none;
    width:100%;
    background-color:#fff;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    text-align:center;
}

/* header responsive*/
@media screen and (max-width:600px){
    header {
        flex-direction: column;
    }

    h1 {
        text-align: center;
    }

    header>ul {
        flex-direction: column;
        justify-content: center;
    }

    header>ul>li {
        margin-left: 0;
        margin-top: 10px;
    }
}

/* form responsive*/
    @media screen and (max-width:800px) {
    #contact>p {
        margin-bottom: 10px;
    }
    .form-flex {
        flex-direction: column;
        width: 100%;
        margin: 0 auto 20px;
    }

    .form-flex-left {
        width: 100%;
    }

    
    input[type="email"],
    textarea {
        margin-top: 10px;
    }

    .button {
        width: 70%;
    }
}

/* footer */
footer {
    padding: 3% 0;
    text-align: center;
    font-size: 0.9rem;
}
